<style>
  .mud-expand-panel, .muudstrap-navbar-expand{
     color: var(--mud-palette-appbar-text);
     background-color: var(--mud-palette-appbar-background);
  }
 .muudstrap-navbar .mud-button{
    text-transform: none;
 }
 .muudstrap-navbar .mud-expand-panel-header{
    padding:0px;
    width: 100%;
    height: 100%;
    flex:none;
 }
</style>
<MudAppBar Fixed="false" Elevation="0" DisableGutters="true" Class="muudstrap-navbar">
    <div class="d-none d-md-flex align-center px-6">
        <MudPaper Height="36px" Width="36px" Elevation="0" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
            <MudText Typo="Typo.h6">L</MudText>
        </MudPaper>
        <MudText Typo="Typo.h6" Class="ml-4 mr-12 pt-1 pb-2">Localizer</MudText>
        <MudButton Color="Color.Inherit" Href="/">Home</MudButton>
        <MudButton Color="Color.Inherit" Href="/lang">Languages</MudButton>
        <MudButton Color="Color.Inherit" Href="/config">Configuration</MudButton>
        <MudButton Color="Color.Inherit" Href="/about">About</MudButton>

    </div>
    <div class="d-flex d-md-none relative mud-width-full mud-height-full">
        <MudExpansionPanels Square="true" Elevation="0" Class="absolute mud-width-full mud-height-full" Style="top:0px;left:0; background-color:Inherit;">
            <MudExpansionPanel HideIcon="true" Class="mud-width-full mud-height-full">
                <TitleContent>
                    <div class="d-flex justify-space-between mud-width-full align-center px-6">
                        <div class="d-flex align-center">
                            <MudPaper Height="36px" Width="36px" Elevation="25" Class="pa-1 rounded-lg d-flex justify-center align-center mud-theme-primary">
                                <MudText Typo="Typo.h6">M</MudText>
                            </MudPaper>
                            <MudText Typo="Typo.h6" Class="ml-4 mr-12 pt-1 pb-2">Muudstrap</MudText>
                        </div>
                        <MudIcon Icon="@Icons.Material.Filled.Menu" />
                    </div>
                </TitleContent>
                <ChildContent>
                    <div class="py-6 mx-n6 muudstrap-navbar-expand">
                        <MudNavMenu>
                            <MudNavLink Href="/">Home</MudNavLink>
                            <MudNavLink Href="/features">Features</MudNavLink>
                            <MudNavLink Href="/pricing">Pricing</MudNavLink>
                        </MudNavMenu>
                    </div>
                </ChildContent>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </div>
</MudAppBar>

