@page "/"
@using Localizer.Core.Resx
@using Localizer.Core.Model

<ToolbarView />

@if (Manager != null)
{

    <div style="display:flex">
        <div>
            <ResXTreeView Tree="Manager.Tree" />
        </div>
        <div>
            <ResxDataGridView Manager="Manager" />
        </div>
    </div>
}

@code
{
    ResxManager Manager;

    protected override async Task OnInitializedAsync()
    {
        //Manager = await ResxLoader.LoadAsync(@"C:\Users\shive\OneDrive\Desktop\ResXUse");
        Manager = await ResxLoader.LoadAsync(@"C:\Users\shive\OneDrive\Desktop\Projects\ResXBenchmark\test_folder");

    }
}