@page "/"
@using Localizer.Core.Resx
@using Localizer.Core.Model

<ToolbarView />

<div style="display:flex">
    <div>
        <ResXTreeView Tree="Tree" />
    </div>
    <div style="width: 100%;">
        <ResxDataGridView />
    </div>
</div>

@code
{
    ResxLoadDataTree Tree;

    protected override async Task OnInitializedAsync()
    {
        //Tree = await ResxLoader.LoadAsync(@"C:\Users\shive\OneDrive\Desktop\Projects\ResXBenchmark\test_folder");
        Tree = await ResxLoader.LoadAsync(@"C:\Users\shive\OneDrive\Desktop\ResXUse");
        var nodePath =
        Tree.GetNodeFromPath(@"C:\\Users\\shive\\OneDrive\\Desktop\\ResXUse\\WindowsFormsApp1\\Properties");
    }
}